<div class="media well">
  <div class="pull-left">
    <a href="#">
      <img class="media-object " src="/imagess/testing.png" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Nordea Swish Företag mobile app - iOS and Android</h4>
    <p>An hybrid app - built for business as the end client - built with Phonegap and frameworks such as Backbone, Ratchet and NodeJS. The <a href="https://itunes.apple.com/se/app/nordea-swish-foretag/id887394108?mt=8">iOS version</a> can be downloaded here and <a href="https://play.google.com/store/apps/details?id=com.nordea.swishcorp.se&hl=en">the Android one here</a>. Built as a project in Unwire.</p>
  </div>
</div>

<div class="media well">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">www.pedromadruga.com</h4>
    This current website that you're accessing now. Built from scratch with AngularJS and Firebase. One of my most exciting and rewarding projects and the code can be accessed <a href="https://github.com/pmadruga/pedromadruga.com">here</a>.
  </div>
</div>

<div class="media well">
  <div class="media-right">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Simplate - AngularJS boilerplate</h4>
    A scaffolding tool based on Yeoman to get new projects up and running in a blink of an eye. Code can be seen <a href="https://github.com/pmadruga/simplate">here</a>.
  </div>
</div>

<div class="media well">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Godialog platform</h4>
    A CompetenceHouse.dk private product, with a renewed frontend and design. The platform helps acessing and reaching employees and employers goals.
  </div>
</div>

<div class="media well">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Copenhagenize Design Co.</h4>
    A wordpress website, with a simplistic and minimalistic UI, formerly in use.
  </div>
</div>



