<div class="well">
  <form name="createPost" ng-controller="PostCtrl" ng-submit="submitPost(content)">

    <div class="form-group">
      <!-- Post date -->
      <h4><span class="label label-default">{{ postDate | date: 'fullDate' }}</span></h4>
    </div>

    <div class="form-group">
      <!-- Post title -->
      <input id="inputTitle"
             class="form-control"
             type="text" name="inputTitle"
             placeholder="Title"
             ng-model="content.title"
             required/>

    </div>

    <div class="form-group">
      <!-- Post content -->
      <textarea class="form-control"
                rows="5"
                value="test text."
                placeholder="Content"
                ng-model="content.text"
                required></textarea>

    </div>

    <!-- Button for submitting -->
    <button class="btn btn-primary"
            type="submit">Post
    </button>

  </form>
</div>
