<div class="row">
  <p>Hi There! I'm <a href="http://www.pedromadruga.com">Pedro Madruga</a>.

    I am a Frontend Engineer from Portugal currently working in Copenhagen. I develop web and mobile applications based on Javascript, mostly AngularJS. </p>

    <p>I have quite a few side <a href="/#/work">projects
      and work</a> - such as this website -, whether webdevelopment or iOS development. Download <a
      href="https://www.dropbox.com/s/vapuzs1xfdm2mey/MADRUGA_CV.pdf?dl=0" target="_blank">my CV here</a> or check <a
      href="http://dk.linkedin.com/in/pedromadruga" target="_blank">my Linkedin profile</a>.

  <p>I also have a passion about urban mobility, specially cycling, which I have <a
    href="http://www.copenhagenize.com/search/label/pedro%20madruga">done work previously</a>. Particularly, I enjoy the
    integration between IT and transportation. </p>

  <p>On my free time, I do some volunteering, practice some sports and try to learn Danish. I also love to read about
    astrophysics and sci-fi. I am an enthusiast about everything different and about everything new. I like simplicity
    and believe that <i>function should follow form.</i> <a href="/#/blog">Writing</a> is also a common hobby.</p>

  <p>If you want to contact me or see my professional profile, use the icons in the dark bar below. </p>

  <p></p>
</div>

<div class="row">
    <div class="col-md-4"><img src="../../../assets/images/me.jpg" class="img-rounded"/></div>
    <div class="col-md-8">
        <blockquote>
            <p>Stay hungry, stay foolish.</p>
            <footer><cite title="Source Title">Whole Earth Catalog</cite>, 1974</footer>
        </blockquote>
    </div>
</div>

