<div class="col-md-3"></div>

<!-- The login area should be centered, hence size "col-md-6" -->
<div class="col-md-6" ng-controller="LoginController as vm">
  <div class="panel panel-default">
    <div class="panel-heading">Login</div>
    <div class="panel-body">

      <form name="loginForm" ng-submit="vm.login(credentials)">

        <!-- <alert ng-repeat="alerts in authAlerts" type="{{ alerts.type }}">{{ alerts.msg }}</alert> -->

        <!-- Email input area -->
        <div class="form-group">
          <input type="email"
                 id="inputEmail"
                 class="form-control"
                 placeholder="Email address"
                 autofocus="off"
                 ng-model="credentials.username"
                 required/>
        </div>

        <!-- Password input area -->
        <div class="form-group">
          <input type="password"
                 id="inputPassword"
                 class="form-control"
                 placeholder="Password"
                 autofocus="off"
                 ng-model="credentials.password"
                 required/>
        </div>

        <button class="btn btn-default"
                type="submit">Sign in
        </button>
      </form>
    </div>
  </div>
</div>
<div class="col-md-3"></div>
