
<blockquote>
  <p>Stay hungry, stay foolish.</p>
  <footer>
    <cite title="Source Title">Whole Earth Catalog</cite>, 1974
</blockquote>
</blockquote>

<p></p><p><b>Hi there!</b>
My name is <a href="http://www.pedromadruga.com">Pedro Madruga</a>. I am a Frontend Developer from Portugal working in Copenhagen. I have quite a few side <a href="/#/work">projects and work</a> - such as this website -, whether webdevelopment or iOS development.

<p>On my free time, I do some volunteering, practice some sports and try to learn Danish. I also love to read about astrophysics and sci-fi. I am an enthusiast about everything different and about everything new. I like simplicity and believe that <i>function should follow form.</i> <a href="/#/work">Writing</a> is also a common hobby.</p>

<p>If you want to contact me or see my professional profile, use the icons in the dark bar below. </p>
<p></p>

