<nav class="navbar navbar-default navbar-static-top" role="navigation">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    id="expandMenuButton">
                <!-- <span class="sr-only">Toggle navigation</span>-->
                <a ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </button>
        </div>
        <h3>pedro madruga</h3>
    </div>

    <div collapse="navCollapsed" class="collapse navbar-collapse navbar-responsive-collapse" id="collapse-navbar">
        <ul class="nav navbar nav-pills pull-right">
            <li ui-sref-active="active"><a ui-sref="about" id="linkAbout">About</a></li>
            <li ui-sref-active="active"><a ui-sref="blog" id="linkBlog">Blog</a></li>
            <li ui-sref-active="active"><a ui-sref="portfolio" id="linkContact">Work</a></li>
        </ul>
    </div>
    </div>

</nav>
